# Python cache
__pycache__/
*.py[cod]
*.pyc

# Database
db.sqlite3

# Environment variables (SECRET_KEY etc)
.env

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Static collected
staticfiles/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
